@media screen and (max-width: 500px) {
    .container {
        justify-content: flex-start !important;
    }

    .text {
        font-size: 7vw !important;
    }
}

.container {
    flex-direction: column;
    height: 100%;
    width: 100%;
    bottom: 0;
    display: inherit;
    align-items: inherit;
    justify-content: center;
    position: absolute;
    z-index: 5;
    opacity: 1;
    transition-property: all;
	transition-duration: 2s;
    transition-delay: 1s;
	transition-timing-function: cubic-bezier(0, 1, 0.5, 1);
}

.img {
    position: relative;
    padding: 10px;
}

.hide {
    bottom: 100%;
}

.text {
    color: #FFFFFF;
    font-weight: 700;
    font-size: 3vw;
    padding: 10px;
}

.toggle {
    position: absolute;
    left: 0%;
    right: 0%;
    top: 0%;
    bottom: 0%;

    border: 2px sold #F9D29F;
    box-sizing: border-box;
    border-radius: 100px;
}

.toggleButtonOne {
    /* Auto layout */
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 21px 176px;

    position: absolute;
    width: 450px;
    height: 80px;
    left: 0px;
    top: 0px;

    border-radius: 100px;
}

.toggleButtonTwo {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 21px 157px;

    position: absolute;
    width: 450px;
    height: 80px;
    left: 450px;
    top: 0px;

    background: #F8CAA3;
    border-radius: 100px;
}