@media screen and (max-width: 500px) {
    .container {
        justify-content: flex-start !important;
    }

    .text {
        font-size: 7vw !important;
    }
}

.container {
    flex-direction: column;
    height: 100%;
    width: 100%;
    bottom: 0;
    display: inherit;
    align-items: inherit;
    justify-content: center;
    position: absolute;
    z-index: 5;
    opacity: 1;
    transition-property: all;
	transition-duration: 2s;
    transition-delay: 1s;
	transition-timing-function: cubic-bezier(0, 1, 0.5, 1);
    padding: 5px;
    overflow-y: auto;
}

.img {
    position: relative;
    padding: 10px;
}

.hide {
    bottom: 100%;
}

.text {
    color: #FFFFFF;
    font-weight: 700;
    font-size: 3vw;
    padding: 10px;
}