@media screen and (max-width: 500px) {
    .option span {
        font-size: 5vw !important;
    }
}

.container {
    width: 90%;
    margin: 10px 0px;
}

.innerContainer {
    position: relative;
    width: 100%;
    flex: 1;
    border: 2px solid #F1F1F1;
    border-radius: 100px;
    opacity: 0.75;
    margin: 0;
    touch-action: none;
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
}

.innerContainer:hover {
    cursor: pointer;
}

.item {
    position: relative;
    width: 50%;
    height: 50px;
    transition: all 0.7s cubic-bezier(0.04, 0.46, 0.36, 0.99);
    touch-action: none;
    user-select: none;
}

.itemRight {
    transform: translateX(100%);
}


#item::after {
    position: absolute;
    left: 0;
    width: 100%;
    border-radius: 100px;
    height: 100%;
    background: #f1f1f1;
    opacity: 0.7;
    content: "";
    box-shadow: 2px 5px 9px #888888;
}

.option {
    display: flex;
    position: absolute;
    justify-content: center;
    align-items: center;
    width: 50%;
    height: 100%;
    top: 0;
    pointer-events: none;
    user-select: none;
    color: #f1f1f1;
    font-weight: 800;
    transition: color 0.7s cubic-bezier(0.04, 0.46, 0.36, 0.99);
    box-sizing: border-box;
}

.left {
    left: 0;
}

.right {
    right: 0;
}

.option span {
    pointer-events: none;
    user-select: none;
    transition: all .2s ease;
    font-weight: 500;
    font-size: 2.5vw;
}

.selected {
    color: #9F938B;
}